.controls {
  display: flex;
}

.controls--is-phone {
  position: fixed;
}

.controls_row {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
}

#container2D {
  position: absolute;
  z-index: -1;
}

#output {
  margin-top: -250px;
}
